In [1]:
# Importing all library required for analysis
import pandas as pd
import glob
import os
import numpy as np

pd.options.display.max_columns = None

In [ ]:
# merging the files
joined_files = os.path.join(r"C:\Users\Detective\Downloads\Google\Case_Study_1\CSV", "tripdata*.csv")
  
# A list of all joined files is returned
joined_list = glob.glob(joined_files)
  
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
print(df)

In [2]:
# Saving the merged data in csv file format
df.to_csv('tripdata_upto_oct_2021.csv')

In [2]:
df = pd.read_csv('tripdata_upto_oct_2021.csv')

c:\users\detective\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# Creating a backup copy
data = df.copy()

In [4]:
# First 5 rows of the dataset
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,110.0,St. Clair St & Erie St,211.0,41.894177,-87.629127,41.894434,-87.623379,casual
1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,672.0,Noble St & Milwaukee Ave,29.0,41.890959,-87.635343,41.900675,-87.662480,casual
2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,76.0,Federal St & Polk St,41.0,41.880983,-87.616754,41.872054,-87.629550,casual
3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,659.0,Stave St & Armitage Ave,185.0,41.895499,-87.682013,41.917744,-87.691392,casual
4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,2.0,Buckingham Fountain,2.0,41.876497,-87.620358,41.876448,-87.620338,casual

In [5]:
# Last 5 rows of the dataset
data.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5378829,BA077FDD42DABF12,classic_bike,2021-10-14 21:45:05,2021-10-14 22:07:25,Franklin St & Chicago Ave,13017,Michigan Ave & 14th St,TA1307000124,41.896747,-87.635668,41.864059,-87.623727,casual
5378830,B7D99254E798AA6B,classic_bike,2021-10-02 15:28:28,2021-10-02 15:51:02,Streeter Dr & Grand Ave,13022,Michigan Ave & 14th St,TA1307000124,41.892278,-87.612043,41.864059,-87.623727,casual
5378831,BCCFD66DA466400F,electric_bike,2021-10-08 16:47:10,2021-10-08 16:52:43,Calumet Ave & 21st St,15546,Michigan Ave & 14th St,TA1307000124,41.854055,-87.619187,41.864009,-87.623601,member
5378832,623E0F6F50CDD6E4,classic_bike,2021-10-08 07:49:47,2021-10-08 07:55:15,Calumet Ave & 21st St,15546,Michigan Ave & 14th St,TA1307000124,41.854184,-87.619154,41.864059,-87.623727,member
5378833,83FA6AC52B7B7A7B,classic_bike,2021-10-02 12:55:45,2021-10-02 13:21:10,Winthrop Ave & Lawrence Ave,TA1308000021,Sheffield Ave & Fullerton Ave,TA1306000016,41.968812,-87.657659,41.925602,-87.653708,member

In [6]:
# Information about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5378834 entries, 0 to 5378833
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 533.5+ MB

In [7]:
# Number of null values in each column
data.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    600479
start_station_id      600586
end_station_name      646471
end_station_id        646548
start_lat                  0
start_lng                  0
end_lat                 4831
end_lng                 4831
member_casual              0
dtype: int64

In [11]:
# Percentage of missing values in each column
for col in data.columns:
    missing_data = np.mean(data[col].isnull()*100)
    print('{} - {}%'.format(col, round(missing_data, 2)))

ride_id - 0.0%
rideable_type - 0.0%
started_at - 0.0%
ended_at - 0.0%
start_station_name - 11.16%
start_station_id - 11.17%
end_station_name - 12.02%
end_station_id - 12.02%
start_lat - 0.0%
start_lng - 0.0%
end_lat - 0.09%
end_lng - 0.09%
member_casual - 0.0%

In [4]:
# Converting object to datatime datatype
data['started_at'] = pd.to_datetime(data['started_at'], format = '%Y-%m-%d %H:%M:%S')
data['ended_at'] = pd.to_datetime(data['ended_at'], format = '%Y-%m-%d %H:%M:%S')

In [5]:
# length of the time taken for each ride
data['ride_time'] = data['ended_at'] - data['started_at']

In [6]:
# Day of the week
data['day_of_week'] = data['started_at'].dt.day_name()

In [8]:
# Removing negative ride time (days)
filter = (data['ride_time'] > '0')
data = data.loc[filter]

In [9]:
# Cleaning Column names
data.columns = [c.strip() for c in data.columns.values.tolist()]

In [10]:
# Removing any duplicate rows
data = data.drop_duplicates()

In [11]:
# Drop na values
data = data.dropna()

In [12]:
# Saving the cleaned dataset
data.to_csv('tripdata_upto_oct_2021_cleaned.csv')

In [13]:
data.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_time,day_of_week
0,0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,110.0,St. Clair St & Erie St,211.0,41.894177,-87.629127,41.894434,-87.623379,casual,0 days 00:09:40,Sunday
1,1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,672.0,Noble St & Milwaukee Ave,29.0,41.890959,-87.635343,41.900675,-87.662480,casual,0 days 00:11:19,Sunday
2,2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,76.0,Federal St & Polk St,41.0,41.880983,-87.616754,41.872054,-87.629550,casual,0 days 00:29:01,Sunday
3,3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,659.0,Stave St & Armitage Ave,185.0,41.895499,-87.682013,41.917744,-87.691392,casual,0 days 00:09:15,Sunday
4,4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,2.0,Buckingham Fountain,2.0,41.876497,-87.620358,41.876448,-87.620338,casual,0 days 00:33:27,Sunday